{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="details">
        <!-- <p class="font-weight-normal h2">Create your Gencom Account</p> -->
    </div>
    <div class="login-direct">
        <a href="{% url 'login' %}">login</a>
    </div>
    <form method="POST" action="#">
        <div class="form-holder col-md-5 mt-3 mx-auto">
            <div class="form-group mb-2">
                {% csrf_token %}
    
                {{form|crispy}}
            </div>
            <button type="submit" class="btn btn-dark btn-block">Create User</button>
        </div>
    </form>
{% endblock %}
