{% extends 'base.html' %}
{% block title %} Gencom | Delete Product {% endblock %}

{% block content%}
    <div class="h2">Delete Product</div>
<br>
    <form action="#" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete '{{user}}?'</p>
        <button type="submit" class="btn btn-primary">Confirm</button>     <a href="{% url 'user:profile' user.profile.id %}" class= "btn btn-primary">cancel</a>

    </form>
{% endblock %}