{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-7 mt-5  mx-auto">
        <div class="details p-4 text-white bg-dark">
            <p class="font-weight-normal h2 text-center">Enjoy Your Time</p>
        </div>

        <!-- <a href="{% url 'user:register' %}">register</a> -->
        
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                {% for message in messages %}
                    <strong id="messages">{{message}}</strong>
                {% endfor %} 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    
        <form method="POST" action="#">
            <div class="form-holder mt-3">
                <div class="form-group mb-2">
                    {% csrf_token %}
        
                    {{form|crispy}}
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <a href="{% url 'user:password_reset' %}">Forget password</a>
                </div>
                <button type="submit" class="btn btn-dark btn-block">Sign In</button>
            </div>
        </form>	
    </div>
    
{% endblock %}
