{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2 class="d-flex justify-content-center">Change password</h2>
    <form method="POST" action="#">
        <div class="form-holder col-md-7 mt-3 mx-auto">
            <div class="form-group mb-2">
                {% csrf_token %}
    
                {{form|crispy}}
            </div>
            <button type="submit" class="btn btn-dark btn-block">Change password</button>
        </div>
    </form>
{% endblock %} 
