{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-end">
        <a href="{% url 'user:update_profile' userProfile.id %}" class="btn btn-success mr-3">Update</a>
        <a href="{% url 'user:delete_user' userProfile.user.pk %}" class="btn btn-danger mr-3">Delete</a>
        <a href="{% url 'user:change_password' %}" class="btn btn-primary ">change_password</a>    
    </div>
    <div class="mt-3">
        {{userProfile.user.username}}
        {{userProfile.user.email}}
        
        {% if userProfile.image%}
            <img src="{{ userProfile.imageURL }}" alt="">
        {% else %}
            no profile image
        {% endif %}
    </div>
    
{% endblock %}